.blog {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  border: solid gray 1px;
  display: inline-block;
  border-radius: 10px;
  background-color: beige;
}

.title {
  color: red;
}

.description {
  color: blue;
}
